.adminData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: auto;
    margin: 40px auto 10px auto;

}

.adminData h2 {
    font-size: 2rem;
    color: #000000;
    margin: 40px;
    text-align: center;
}

.parrContent{
    font-size: 1.2rem;
    margin: 0px 15px 40px;
    text-align: center;
}

.container-inp input {
    height: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    background-color: transparent;
    text-align: left;
    color: #9b9a9a;
}

form input:active{
    border: 0.2px solid #000;
}

form label {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
}

form button{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFD500;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


.btnForm{
    background-color: #006CB6;
    color: #fff;
    border-radius: 2%;
    padding: 10px 16px;
    margin-bottom: 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 50px; /* Define la altura del botón */
    padding: 0px 20px; /* Ajusta el espaciado interno del botón */
}

.btnInventario{
    background-color: #006CB6;
    align-items: center;
    color: #fff;
    border-radius: 2%;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    width: 200px; /* Define el ancho del botón */
    height: 50px; /* Define la altura del botón */
    padding: 0px 20px; /* Ajusta el espaciado interno del botón */
}

.btnForm:hover{
    background-color: #0465a7;
    border: none;
}

.btnInventario:hover{
    background-color: #0465a7;
    border: none;
}