.ProductContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px;

  }
  
  .ProductImage img {
    max-width: 250px;
    margin-bottom: 20px;
  }
  
  .ProductTitle h2 {
    font-size: 0.93rem;
    padding-bottom: 5px;
    line-height: 1.3125;
    margin: 0;
  }
  
  .ProductPrice h3 {
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
    padding-bottom: 20px;
    color: rgb(114, 114, 114);
    font-size: 0.93rem;
  }
  
  .ProductButton {
    background-color: #fe8123;
    color: #fff;
    border-radius: 2%;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    width: 150px; /* Define el ancho del botón */
    height: 40px; /* Define la altura del botón */
    padding: 10px 20px; /* Ajusta el espaciado interno del botón */
  }
  
  .ProductButton:hover {
    background-color: #e6721a;
    border: none;
  }
  