*{
    margin: 0;
    padding: 0;
}




img {
    max-width: 600px;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1
    px solid blue;
    width: 80vw;
    height: 60vw;
}

.productImage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: 1px solid #ccc;
}

.productContainer {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.productInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

.extraImages{
    display: flex;
    flex-direction: column;

    
}

.extraImages img{
    width: 100px;
    height: auto;
    border: 1px solid #ccc;
    cursor: pointer;
}

.textHeader{
    font-size: 0.9rem;
    display: relative;
    flex: 1;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  
  .claseDeEnvio{
    padding: 5Px;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #006cb6;
    box-shadow: 0px 10px 10px #dfdfdf;
    position: relative;
    top: 0px;
  }

#Image1,
#Image2,
#Image3{
    display: none;
}